<div class="profile">
    <div class="profile_pic"> 
        @Html.Partial("_LoginImagePartial")   
    </div>
    <div class="profile_info">
        <span>Bienvenido,</span>
        <h2>@ViewBag.FullNameUser</h2>
    </div>
</div>